---
layout: layouts/page.njk
title: Not found
kicker: 404
permalink: /404.html
eleventyExcludeFromCollections: true
---

<p class="mb-8 text-neutral-400">The net is vast and infinite. But this page isn’t in it.</p>

<a href="/" class="hover:underline" alt="Go to the home page">Return to the homepage</a>
